    
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

</head>
<div class="text-center container-fluid d-flex">

  {{! SECCIÓN DE LOS MENSAJES EN VIVO }}

  <section
    class="text-center container-lg d-flex flex-column align-items-center"
  >

    <h3 class="my-5 fw-bolder">Chat en vivo</h3>

    <form onsubmit="return saveMessage()" class="my-4">
                <input type="text" id="email" class="form-control w-75 my-2" placeholder="Indique su email"/>
                <input type="text" id="nombre" class="form-control w-75 my-2" placeholder="Indique su nombre"/>
                <input type="text" id="apellido" class="form-control w-75 my-2" placeholder="Indique su apellido"/>
                <input type="number" id="edad" class="form-control w-75 my-2" placeholder="Indique su edad"/>
                <input type="text" id="alias" class="form-control w-75 my-2" placeholder="Indique su alias"/>
                <input type="url" id="avatar" class="form-control w-75 my-2" placeholder="Indique su avatar"/>
                <input type="text" id="text" class="form-control w-75 my-2" placeholder="Escriba su mensaje"/>
                <button type="submit" class="btn btn-dark">Enviar mensaje</button>
            </form>
    <article class="d-flex flex-column mt-5" id="msg">

    </article>
  </section>
</div>